.card {
  border: 1px solid;
  width: 100%;
  cursor: pointer;
  display: flex;
  align-items: center;
  height: 18rem;
  border-radius: 4px;

  &:hover {
    box-shadow: 0 12px 24px 0 rgba(0, 0, 0, 0.20);
  }

  .img-class {
    width: 30%;
    display: flex;
  }

  .detail-class {
    display: flex;
    flex-direction: column;

  }

  .title-name {
    font-size: 1.25rem;
    font-weight: bolder;
  }
}
