<div class="size-100">
  <h1 class="pb-2">Home</h1>
  <div class="home-body d-flex-column v-align-center">
    <div class="d-flex-column pb-3">
      <h2>Serious Game Taxonomy</h2>
      <div class="d-flex">
        <img class="img-class pr-3" [src]="'assets/taxonomy.jpg'" />
        <p class="taxonomy-text">
          A tree view of the classification of serious games proposed by this
          experimental project. The root is the serious game which is divided
          into six categories which are sets of objects.

          <br />
          <br />
          This taxonomy extends the <b>G/P/S Model</b> to include part of the
          four-dimensional model of the
          <b>International Journal of Computer Games Technology</b>.
          <br />
          the G/P/S model takes into consideration the gameplay, the purpose and
          the scope of serious games, but does not consider the type of platform
          with which it is possible to interact with the game, nor the various
          age groups of the players at to which they are directed, which are
          included in the four-dimensional model of the journal.
          <br />
          <br />
          In addition, <b>BoardGameGeek</b> was inspired by the categorization
          of the games in the various reference areas and, given that this site
          categorizes only physical games, the last dimension was designed which
          includes the platform with which you can interact with serious games.

          <br />
          <br />

          Below is a schematic representation of the model by UML diagram.
        </p>
      </div>
      <!-- Una visualizzazione ad albero della classificazione dei serious game proposta
        da questo progetto sperimentale. La radice è il serious game che si divide in sei
        categorie che sono insiemi di oggetti.

        Questa tassonomia estende il modello G/P/S includendo parte del modello a quattro
         dimensioni del'International Journal of Computer Games Technology.
         il modello G/P/S prende in considerazione il gameplay, lo scopo e l’ambito dei giochi seri,
         ma non considera né il tipo di piattaforma con cui è possibile interagire con il gioco,
         né le varie fasce d’età dei giocatori a cui sono diretti, che sono inclusi nel modello a
         quattro dimensioni del journal. In più si è preso spunto da BoardGameGeek per la
         categorizzazione dei giochi nelle varie aree di riferimento e, dato che questo sito categorizza
         solo giochi fisici, è stata pensata l’ultima dimensione che include la piattaforma con cui si può
         interagire con i serious game.

        In basso una schematizzazione tramite diagramma UML di come si divide il modello. -->
    </div>

    <div class="d-flex-column">
      <h2>UML Diagram</h2>
      <img [src]="'assets/uml.jpg'" />
    </div>
  </div>
</div>
