<div>
  <h1>New Game</h1>
  <form (ngSubmit)="onSubmit(game)" #gameForm="ngForm">
    <label for="name">Name</label>
    <input
      type="text"
      class="form-control"
      id="name"
      required
      [(ngModel)]="game.name"
      name="name"
      #name="ngModel"
    />
    <div [hidden]="name.valid || name.pristine" class="alert alert-danger">
      Name is required
    </div>

    <div class="form-group">
      <label for="gameplay">Gameplay</label>

      <ng-select
        [items]="gameplays"
        [selectableGroup]="true"
        [closeOnSelect]="true"
        [(ngModel)]="game.gameplay"
        name="gameplays"
      >
      </ng-select>
    </div>

    <div class="form-group">
      <label for="scopes">Scope</label>

      <ng-select
        [items]="scopes"
        [multiple]="true"
        [selectableGroup]="true"
        [closeOnSelect]="false"
        [(ngModel)]="game.scope"
        name="scopes"
      >
      </ng-select>
    </div>

    <div class="form-group">
      <label for="platform">Platform</label>
      <ng-select
        [items]="platforms"
        [multiple]="true"
        [selectableGroup]="true"
        [closeOnSelect]="false"
        [(ngModel)]="game.platform"
        name="platforms"
      >
      </ng-select>
    </div>

    <div class="form-group">
      <label for="purpose">Purpose</label>
      <ng-select
        [items]="purposes"
        [multiple]="true"
        [selectableGroup]="true"
        [closeOnSelect]="false"
        [(ngModel)]="game.purpose"
        name="purposes"
      >
      </ng-select>
    </div>

    <div class="form-group">
      <label for="category">Category</label>

      <div class="form-group">
        <label for="actionAdventure">Action Adventure</label>
        <ng-select
          [items]="actionAdventure"
          [multiple]="true"
          [selectableGroup]="true"
          [closeOnSelect]="false"
          [(ngModel)]="game.category.actionAdventure"
          name="actionAdventure"
        >
        </ng-select>
      </div>

      <div class="form-group">
        <label for="actionGames">Action Games</label>
        <ng-select
          [items]="actionGames"
          [multiple]="true"
          [selectableGroup]="true"
          [closeOnSelect]="false"
          [(ngModel)]="game.category.actionGames"
          name="actionGames"
        >
        </ng-select>
      </div>

      <div class="form-group">
        <label for="adventure">Adventure</label>
        <ng-select
          [items]="adventure"
          [multiple]="true"
          [selectableGroup]="true"
          [closeOnSelect]="false"
          [(ngModel)]="game.category.adventure"
          name="adventure"
        >
        </ng-select>
      </div>

      <div class="form-group">
        <label for="idle">Idle</label>
        <ng-select
          [items]="idle"
          [multiple]="true"
          [selectableGroup]="true"
          [closeOnSelect]="false"
          [(ngModel)]="game.category.idle"
          name="idle"
        >
        </ng-select>
      </div>

      <div class="form-group">
        <label for="puzzle">Puzzle</label>
        <ng-select
          [items]="puzzle"
          [multiple]="true"
          [selectableGroup]="true"
          [closeOnSelect]="false"
          [(ngModel)]="game.category.puzzle"
          name="puzzle"
        >
        </ng-select>
      </div>

      <div class="form-group">
        <label for="rolePlaying">Role Playing</label>
        <ng-select
          [items]="rolePlaying"
          [multiple]="true"
          [selectableGroup]="true"
          [closeOnSelect]="false"
          [(ngModel)]="game.category.rolePlaying"
          name="rolePlaying"
        >
        </ng-select>
      </div>

      <div class="form-group">
        <label for="simulation">Simulation</label>
        <ng-select
          [items]="simulation"
          [multiple]="true"
          [selectableGroup]="true"
          [closeOnSelect]="false"
          [(ngModel)]="game.category.simulation"
          name="simulation"
        >
        </ng-select>
      </div>

      <div class="form-group">
        <label for="sports">Sports</label>
        <ng-select
          [items]="sports"
          [multiple]="true"
          [selectableGroup]="true"
          [closeOnSelect]="false"
          [(ngModel)]="game.category.sports"
          name="sports"
        >
        </ng-select>
      </div>

      <div class="form-group">
        <label for="strategy">Strategy</label>
        <ng-select
          [items]="strategy"
          [multiple]="true"
          [selectableGroup]="true"
          [closeOnSelect]="false"
          [(ngModel)]="game.category.strategy"
          name="strategy"
        >
        </ng-select>
      </div>

    </div>

    <div class="form-group">
      <label for="audience">Audience</label>
      <ng-select
        [items]="audience"
        [multiple]="true"
        [selectableGroup]="true"
        [closeOnSelect]="false"
        [(ngModel)]="game.audience"
        name="audience"
      >
      </ng-select>
    </div>


    <div class="form-group">
      <label for="pegi">PEGi</label>
      <ng-select
        [items]="pegis"
        [selectableGroup]="true"
        [closeOnSelect]="true"
        [(ngModel)]="game.pegi"
        name="pegis"
      >
        <ng-template
          ng-option-tmp
          let-item="item"
          let-index="index"
          let-search="searchTerm"
        >
          <img class="pegi-class pr-3" [src]="selectedPegi(item)" />
          <span class="text">{{ item }}</span>
        </ng-template>
      </ng-select>
    </div>

    <div class="form-group">
      <label for="pegiDescriptors">PEGi Descriptors</label>
      <ng-select
        [items]="descriptors"
        [multiple]="true"
        [selectableGroup]="true"
        [closeOnSelect]="false"
        [(ngModel)]="game.pegiDescriptors"
        name="pegiDescriptors"
      >
        <ng-template
          ng-option-tmp
          let-item="item"
          let-index="index"
          let-search="searchTerm"
        >
          <img
            class="pegi-descriptors-class pr-3"
            [src]="selectedPegiDescriptor(item)"
          />
          <span class="text">{{ item }}</span>
        </ng-template>
      </ng-select>
    </div>

    <div class="form-group">
      <label for="description">Description</label>
      <textarea
        class="form-control"
        id="description"
        [(ngModel)]="game.description"
        name="description"
      >
      </textarea>
    </div>

    <button
      type="submit"
      class="btn btn-success"
      [disabled]="!gameForm.form.valid"
    >
      Submit
    </button>
  </form>
</div>

<!--
<div [hidden]="!submitted">
  <h2>You submitted the following:</h2>
  <div class="row">
    <div class="col-xs-3">Name</div>
    <div class="col-xs-9">{{ game.name }}</div>
  </div>
  <div class="row">
    <div class="col-xs-3">Alter Ego</div>
    <div class="col-xs-9">{{ game.alterEgo }}</div>
  </div>
  <div class="row">
    <div class="col-xs-3">Power</div>
    <div class="col-xs-9">{{ game.power }}</div>
  </div>
  <br />
  <button class="btn btn-primary" (click)="submitted = false">Edit</button>
</div> -->
