<div>
  <h1>New Game</h1>
  <form (ngSubmit)="onSubmit(game)" #gameForm="ngForm">
    <label for="name">Name</label>
    <input
      type="text"
      class="form-control"
      id="name"
      required
      [(ngModel)]="game.name"
      name="name"
      #name="ngModel"
    />
    <div [hidden]="name.valid || name.pristine" class="alert alert-danger">
      Name is required
    </div>

    <!-- <div class="form-group">
      <label for="platform">Platform</label>
      <div *ngFor="let platform of platforms">
        <input
        type="checkbox"
        class="form-control"
        id="platform"
        [(ngModel)]="game"
        name="platform"
      />
      </div>
    </div> -->

    <div class="form-group">
      <label for="gameplay">Gameplay</label>

      <ng-select
        [items]="gameplays"
        [selectableGroup]="true"
        [closeOnSelect]="true"
        [(ngModel)]="game.gameplay"
        name="gameplays"
      >
      </ng-select>
    </div>

    <div class="form-group">
      <label for="platform">Platform</label>

      <ng-select
        [items]="platforms"
        [multiple]="true"
        [selectableGroup]="true"
        [closeOnSelect]="false"
        [(ngModel)]="game.platform"
        name="platforms"
      >
      </ng-select>
    </div>

    <div class="form-group">
      <label for="description">Description</label>
      <textarea
        class="form-control"
        id="description"
        [(ngModel)]="game.description"
        name="description"
      >
      </textarea>
    </div>

    <button
      type="submit"
      class="btn btn-success"
      [disabled]="!gameForm.form.valid"
    >
      Submit
    </button>
  </form>
</div>

<!--
<div [hidden]="!submitted">
  <h2>You submitted the following:</h2>
  <div class="row">
    <div class="col-xs-3">Name</div>
    <div class="col-xs-9">{{ game.name }}</div>
  </div>
  <div class="row">
    <div class="col-xs-3">Alter Ego</div>
    <div class="col-xs-9">{{ game.alterEgo }}</div>
  </div>
  <div class="row">
    <div class="col-xs-3">Power</div>
    <div class="col-xs-9">{{ game.power }}</div>
  </div>
  <br />
  <button class="btn btn-primary" (click)="submitted = false">Edit</button>
</div> -->
