@import "../node_modules/ag-grid-community/src/styles/ag-grid.scss";
@import url('https://unpkg.com/bootstrap@3.3.7/dist/css/bootstrap.min.css');
@import "~@ng-select/ng-select/themes/default.theme.css";
@import "../node_modules/ag-grid-community/src/styles/ag-theme-alpine/sass/ag-theme-alpine-mixin.scss";
@import "./app/ui/_variables";
@import "./app/ui/_mixin";
@import "./app/ui/_utils";
@import "./app/ui/_forms";

.ag-theme-alpine {
    @include ag-theme-alpine();
}

html,
body {
  height: 100%;
  margin: 0;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.material-icons { margin-bottom: 1rem; }

.material-icons.md-18 { font-size: 18px; }
.material-icons.md-24 { font-size: 24px; }
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-48 { font-size: 48px; }

.nav-icon {
  width: 4rem;
  height: 4rem;
}

button {
  padding: .5rem 1rem;
}

h1 {
  margin: 0 !important;
}
