<div class="size-100">
  <div class="d-flex justify-content-between pb-2">
    <h1>Serious Games Collection</h1>

    <button class="pointer" (click)="navTo()">
      Report another SG
    </button>
  </div>
  <div class="size-100">
    <div class="search-box">
      <input
        class="form-control"
        type="search"
        name="search"
        [(ngModel)]="searchText"
        autocomplete="off"
        placeholder="Start searching for a game"
      />
      <a class="pl-2" href="#" routerLinkActive="active">Advanced Search</a>
      <!-- <ag-select [options]="options"></ag-select> -->
    </div>
    <div class="container-card">
      <ng-container *ngFor="let game of datasource | filter:searchText">
        <ag-card [data]="game"></ag-card>
      </ng-container>
    </div>
  </div>
</div>
